{% extends "static/base.html" %}
{% load i18n %}
{% block title %}{% trans "Mail sent successfully" %}{% endblock %}
{% block header_title %}
<i class="fa fa-check"></i> {% trans "Mail Sent" %}
{% endblock header_title %}
{% block body %}
<div class="page-header">
    <h1>{% trans "Mail Sent Successfully!" %}</h1>
</div><!--page-header-->
<div class="row">
    <div class="alert alert-success">
        We have received your feedback. We would soon reply to your message.
	</div><!--alert alert-success-->
</div><!--row-->
{% endblock %}

